<input type = "button" id="btnCurrentUser" value="CurrentUser" class="chatOwner" />
<input type = "button" id="startChat" value="Start Timer Get Chat" onclick = "startTimerGetChat();" />
<input type = "button" id="stopChat" value="Start Timer Get Logged Users" onclick = "startTimerGetLoggedUsers();" />

<table id="tblUsersChats">
  <tr>
    <td>
      <div id="dvUsersChats"></div>
    </td>

    <td  style="vertical-align:top;">
      <table id="tblLoggedUsers"></table>
    </td>
  </tr>
</table>