
<div id="header" >
   <div  style="margin:0;" class="gradientBackgroundLeftRight">
      <table style="width:100%;">
        <tr>
          <td style="width:10%; text-align:center;" rowspan=2 > WAM <br/> <span style="font-size:small"><i>PRO 5 </i></span></td>
          <td style="width:auto;" rowspan=2>  
              <img src="resources/images/logo_blue.jpg" alt="logo" class="logoBlue"/> 
              <img src="resources/images/logo_green.jpg" alt="logo" class="logoGreen"/> 
          </td>
          <td style="width:100%;  border-bottom-style:solid; border-bottom-width:1px; border-color:#fff; "></td>
        </tr>
        <tr>
          <td style=" border-top-style:solid; border-top-width:1px; border-color:#fff;"></td>
        </tr>
      </table>
   </div>
</div>
<div class="horizontalSeparator"></div>


