<div id="mainMenu">
  <ul class="ulMainMenu">
    <li>
      <a href="#" onclick="runMenuItem('')">Basic1</a>
      <ul class="ulSubMenu">
        <li>
          <a href="#" onclick="runMenuItem('10','areas')">Area / Branch / WorkStation</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('11','visitTypes')">Visit Types</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('12','segmentations')">Segmentations</a>
        </li>
      </ul>
    </li>
     
    <li>
      <a href="#" onclick="runMenuItem('')">Basic2</a>
      <ul class="ulSubMenu">
        <li>
          <a href="#" onclick="runMenuItem('13','agentTypes')">Agent Types</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('14','agentsAgentsService')">Agents-AgentService</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('15','agentServiceSuspend')">Agent/Agent Suspension</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('16','agentBranchsHistory')">Agent Branchs History</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('17','systemFunction')">System Function</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('18','accessibleAgents')">Grant System Access</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('19','services')">Services-Subservice</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('20','serviceSubServiceStandardWorkFlow')">Services-Subservice-StandardWorkFlow</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('21','serviceTime')">Service Performance</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('22','errorType')">Error Type</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('23','errorList')">Error List</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('24','eventList')">Event List</a>
        </li>
      </ul>
    </li>
     
    <li>
      <a href="#" onclick="runMenuItem('')">Basic3</a>
      <ul class="ulSubMenu">
        <li>
          <a href="#" onclick="runMenuItem('25','standSchMaster')">Standard Schedule/Standard Schedule Entry/Standard
                                                                   Schedule Entry Service</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('26','standSchEntryCancel')">Standard Schedule Cancelled Entry</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('27','servicesDefaultNumberRangeAgentMode')">Default Number Range Agent
                                                                                        Mode**/Select</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('28','DfltRngSrvcMode')">Default Number Range Service Mode*</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('29','dailySchedule')">Daily Schedule / daily schedule entry srvc*/Button</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('30','numberRangeManagerAgentMode')">Number Range Manager Agent
                                                                                Mode**/Select+Radio</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('31','numberRangeManagerServiceMode')">Number Range Manager Service
                                                                                  Mode**/MoreFields</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('32','callingApproach1')">Calling Approach/ Load Balance Parameter***Randa</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('33','workFlowEditor')">Work Flow Editor****Randa</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('34','expEntry')">Exceptional Entry/Exceptional Entry Service</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('35','expEntryNumberRangeDetails')">Exceptional Entry Num Range**/Select+Radio</a>
        </li>
      </ul>
    </li>
     
    <li>
      <a href="#" onclick="runMenuItem('')">Business 1</a>
      <ul class="ulSubMenu">
        <li>
          <a href="#" onclick="runMenuItem('36','logBrowser')">Log Browser***</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('37','serialNumber')">Serial Number</a>
        </li>
         
        <li>
          <a href="#" onclick="loadImage('38','License.PNG')">img License***</a>
        </li>
      </ul>
    </li>
     
    <li>
      <a href="#" onclick="runMenuItem('')">Business 2</a>
      <ul class="ulSubMenu">
        <li>
          <a href="#" onclick="runMenuItem('39','visualRequestServiceMode')">Visual Request</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('40','softTerminal')">Soft Terminal</a>
        </li>
         
        <li>
         <a href="reservationSignIn.html" target="_blank">Reservation Sign In</a>         
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('42','reservationAgentModeHomePage')">Reservation Agent Mode HomePage??</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('43','reservationAgentModeSearch')">Reservation Agent Mode Search??</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('45','')">Online customer account??</a>
        </li>
      </ul>
    </li>
     
    <li>
      <a href="#" onclick="runMenuItem('')">Reports</a>
      <ul class="ulSubMenu">
        <li>
          <a href="#" onclick="runMenuItem('49','reportTransactionDetails')">Transaction Details Reports</a> 
        </li>
        
         <li>
          <a href="#" onclick="runMenuItem('50','reportReservation')">Reservation Reports</a> 
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('52','reportAgent')">Agent Reports</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('53','reportTicket')">Ticket Reports</a>
        </li>
      </ul>
    </li>
     
    <li>
      <a href="#" onclick="runMenuItem('')">Online Monitor</a>
      <ul class="ulSubMenu">
        <li>
          <a href="#" onclick="runMenuItem('54','onlineMonitor')">Online Monitor??</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('55','onlineMonitorDetailed')">Online Monitor Detailed??</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('56','reportViewerForReservation')">Report Viewer For Reservation??</a>
        </li>
      </ul>
    </li>
     
    <li>
      <a href="#" onclick="runMenuItem('')">Testing</a>
      <ul class="ulSubMenu">
        <li>
          <a href="testDeployment.html" target="_blank">Test Deployment</a>
        </li>
         
        <li>
          <a href="testDbScripting.html" target="_blank">Test Database Scripting</a>
        </li>
         
        <li>
          <a href="testWs.html" target="_blank">test Web Service</a>
        </li>
        
        <li>
          <a href="#" onclick="runMenuItem('')">Error Log***</a>
        </li>
         
        <li>
          <a href="testIntegration.html" target="_blank">Integration</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('')">Replecation***</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('')">Security***</a>
        </li>
         
        <li>
          <a href="#" onclick="runMenuItem('100','menuChat')">Chat</a>
        </li>
      </ul>
    </li>
     
    <li>
      <a href="tryLoggingOut" >LogOut</a>
    </li>
  </ul>
</div>
<div class="horizontalSeparator"></div>