<table id="tblNavigator">
    <tr>
      <td>
      <input type="button" onclick="onNew()" id="bNew" value="New"  />
      </td>
      <td>
      <input type="button" onclick="onEdit()" id="bEdit" value="Edit"  />
      </td>
      <td>
      <input type="button" onclick="onDelete()" id="bDelete" value="Delete"  />
      </td>
      <td>
      <input type="button" onclick="onSave()" id="bSave" value="Save"  />
      </td>
      <td>
      <input type="button" onclick="onDetails()" id="bDetails" value="Details"  />
      </td>
      <td>
      <input type="button" onclick="onMaster()" id="bMaster" value="Master"  />
      </td>
      <td>
      <input type="button" onclick="onSearch()" id="bSearch" value="Search"  />
      </td>
    </tr>    
</table>