<table>
  <tr>
    <td style="text-align:left; padding-top:0; vertical-align:top;">
      <div id="dvFields">
        <table id="tblFields1"></table>
      </div>
    </td>
    <td style="text-align:left; padding-top:0; vertical-align:top;">
      <div id="dvFields">
        <table id="tblFields2"></table>
      </div>
    </td>
    <td style="text-align:left;  padding-top:0; vertical-align:top;">
      <div id="dvFields">
        <table id="tblFields3"></table>
      </div>
    </td>
    <td style="text-align:left; padding-top:0; vertical-align:top;">
      <div id="dvFields">
        <table id="tblFields4"></table>
      </div>
    </td>
    <td style="text-align:left; padding-top:0; vertical-align:top;">
      <div id="dvFields">
        <table id="tblFields5"></table>
      </div>
    </td>
  </tr>
</table>